#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Lock files (but keep test directories' lock files)
.terraform.lock.hcl
!test*/.terraform.lock.hcl
